/* Estilo geral */
body {
    font-family: 'Arial', sans-serif;
    background-color: #f0f8ff;
    color: #333;
    margin: 0;
    padding: 0;
}

header,
footer {
    background-color: #ffcce7;
    text-align: center;
    padding: 20px;
}

h1,
h2 {
    color: #ff66b2;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #e6f7ff;
    padding: 20px;
    border-radius: 10px;
    margin: 50px auto;
    max-width: 400px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    animation: fadeIn 2s ease;
}

/* Lista de feedbacks */
#feedbackListSection {
    max-width: 500px;
    margin: 20px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    background-color: #f0f8ff;
    margin: 10px 0;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

/* Input e Botões */
input,
textarea {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1em;
}

.btn {
    background-color: #ff66b2;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn:hover {
    background-color: #ff99cc;
}

/* Animações */
@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes slideDown {
    from {
        transform: translateY(-20px);
        opacity: 0;
    }

    to {
        transform: translateY(0);
        opacity: 1;
    }
}

#thankYouMessage {
    color: #ff66b2;
    animation: slideDown 1s ease;
}